<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcwDPGsPLrTxrYToReB9zqLWhDboUWcAE</string>
	<key>GCM_SENDER_ID</key>
	<string>460203734883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCleanArchitectureWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>clean-architecture-63906</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-architecture-63906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460203734883:ios:f77fab72ca10ccaf694556</string>
</dict>
</plist>